/.bash_history
/.gitconfig
/.VirtualBox
/.vscode
/3D Objects
/ansel
/AppData
/Contacts
/Desktop
/Documents
/Downloads
/Favorites
/GNS3
/Links
/MicrosoftEdgeBackups
/Music
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf
/NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/Pictures
/Saved Games
/Searches
/source
/Videos
/VirtualBox VMs
/OneDrive
/Application Data
/Cookies
/NetHood
/Local Settings
/PrintHood
/SendTo
/Recent
/главное меню
/Мои документы
/Шаблоны